[submodule "cxxopts"]
	path = cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "libconfig"]
	path = libconfig
	url = https://github.com/hyperrealm/libconfig.git
[submodule "WiringPi"]
	path = WiringPi
	url = https://github.com/WiringPi/WiringPi.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
