[submodule "cxxopts"]
	path = cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "libconfig"]
	path = libconfig
	url = https://github.com/hyperrealm/libconfig.git
[submodule "WiringPi"]
	path = WiringPi
	url = https://github.com/WiringPi/WiringPi.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "libsodium"]
	path = libsodium
	url = https://github.com/jedisct1/libsodium.git
[submodule "cpp-base64"]
	path = cpp-base64
	url = https://github.com/ReneNyffenegger/cpp-base64.git
[submodule "RadioHead"]
	path = RadioHead
	url = git@github.com:dyntaos/RadioHead.git
[submodule "embedded/Arduino-Makefile"]
	path = embedded/Arduino-Makefile
	url = https://github.com/sudar/Arduino-Makefile.git
