build
.vscode
dev_mgmt_contract.abi
dev_mgmt_contract.bin
client
client_data_receiver
client_blockchain_test
client_console
lora_client
embedded/feather-m0_rf9x/libsodium_include
embedded/feather-m0_rf9x/build-adafruit_feather_m0
embedded/feather-m0_rf9x/screenlog.txt
geth/testchain/geth
geth/localchain/geth
geth/testchain/history
geth/localchain/history